*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lilita One', cursive;
    -moz-window-dragging: no-drag;
}

* .dark-mode
{
    background-color: transparent;
    color: #ffffff ;
}

body.dark-mode
{
    background-color: black;
}

nav .logo h1.dark-mode
{
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    padding-left: 10px;
}

.container
{
    width: 100%;
    height: 100vh;
    padding: 0 10px 10px;
}

.container nav
{
    width: 98%;
    height: 85px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

nav .logo
{
    display: flex;
    align-items: center;
    flex: 1 0 max-content;
}

nav .logo i
{
    color: #D81D84;
    font-size: 28px;
}

nav .logo h1
{
    color: #444;
    font-size: 28px;
    font-weight: 400;
    padding-left: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    max-width: 500px;
}

nav ul li
{
    cursor: pointer;
}

nav ul li a::after
{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #D81D84;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.3s;
}

nav ul li a:hover::after,
nav ul li.active::after
{
    transform: scaleX(1);
    transform-origin: left;
}

nav ul li a
{
    color: #444;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
    position: relative;
}

nav ul li a:hover,
nav ul li.active a
{
    color: #D81D84 !important   ;
}

.container .content
{
    width: 100%;
    height: calc(100vh - 95px);
    background: linear-gradient(15deg,#A514B7, #A715A4, #C61D70, #DB355A, #EE6845, #F6A24C, #F9B83E, #FCD82C);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.content .div-text
{
    flex: 1 0 50%;
    flex-direction: column;
    align-items: flex-start;
}

.content .div-text span
{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #000;
}

.content .div-text h3
{
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 50px;
    font-weight: normal;
    margin: 20px 0 8px;
    color: #444 !important;
}

.content .div-text h1
{
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: #444 !important;
    margin-bottom: 25px;
}

.content .div-text p
{
    color: #000000;
    font-size: 14px;
    line-height: 1.8px;
    letter-spacing: 1.3px;
    margin-bottom: 55px;
}

.content .div-text .btn
{
    background: #3f0223 ;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding: 15px 35px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.content .div-text .btn:hover
{
    color: #F6A24C;
    background-color: #3f0223;
}

.content .div-img img
{
    width: 100%;
    height: 100%;
    max-height: 500px;
    margin-bottom: 85px;
    margin-right: 50px;
    object-position: 50% 50%;
    object-fit: contain;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 20px #000);
}

.content .small-img
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    gap: 80px;
    overflow: hidden;
    overflow-x: auto;
    width: 90%;
    padding-bottom: 10px;
}

.small-img
{
    padding-top: 10px;
    width: auto;
    height: 130px;

    &::-webkit-scrollbar
    {
        background-color: transparent;
        width: 0px;
        height: 7px;
      }
}

.small-img:hover {
    &::-webkit-scrollbar
    {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb
    {
      background-color: rgba(0,0,0,.2)
    }
  }
  @media (hover: none)
  {
    .small-img {
      &::-webkit-scrollbar
      {
        width: 8px;
      }
      &::-webkit-scrollbar-thumb
      {
        background-color: rgba(0,0,0,.2)
      }
    }
  }

.content .small-img img
{
    height: 100px;
    cursor: pointer;
    transition: 0.4s;
    object-fit: contain;
}

.content .small-img img:hover
{
    transform: scale(1.2);
}

#toggle
{ 
    transition: all 0.3s linear;
}

#toggle.dark 
{
    transform: rotate(180deg);
}